<div class="row">
  <div class="col-6 offset-3">
    <form #eventForm="ngForm" *ngIf="event" (ngSubmit)="onFormSubmit(eventForm)">
      <label for="id">#</label>
      <input name="id" id="id" type="number" class="form-control" [(ngModel)]="event.id" readonly>
      <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="event.name" name="name" type="text" class="form-control" pattern=".{8,}" required>
        <div [hidden]="eventForm.controls.name?.valid" class="error-message">
          The name of the event must be minimum 8 characters.
        </div>
      </div>
      <div class="form-group">
        <label>Date</label>
        <input [(ngModel)]="event.date" name="date" type="text" class="form-control" required>
      </div>
      <div [hidden]="eventForm.controls.date?.valid" class="error-message">
        Please enter the date of the event in this field.
      </div>
      <div class="form-group">
        <label>Time</label>
        <input [(ngModel)]="event.time" name="time" type="text" class="form-control" required>
      </div>
      <div [hidden]="eventForm.controls.time?.valid" class="error-message">
        Please enter the time of the event in this field.
      </div>
      <div class="form-group">
        <label>Address</label>
        <input [(ngModel)]="event.location.address" name="address" type="text" class="form-control" required>
      </div>
      <div [hidden]="eventForm.controls.address?.valid" class="error-message">
        Please enter where the event takes place.
      </div>
      <div class="form-group">
        <label>City</label>
        <input [(ngModel)]="event.location.city" name="city" type="text" class="form-control" required>
      </div>
      <div [hidden]="eventForm.controls.city?.valid" class="error-message">
        Please enter in which city the event takes place.
      </div>
      <div class="form-group">
        <label>Country</label>
        <input [(ngModel)]="event.location.country" name="country" type="text" class="form-control" required>
      </div>
      <div [hidden]="eventForm.controls.country?.valid" class="error-message">
        Please enter in which country the event takes place.
      </div>
      <button [disabled]="eventForm.invalid" type="submit" class="btn btn-block btn-primary">
        <i class="fa fa-save"></i>
      </button>
    </form>
  </div>
</div>
